.card-wrapper {
  height: 400px;
  width: 375px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.card-image {
  height: 400px;
  width: 375px;
  position: absolute;
  z-index: -1;
}

.card-inside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
  text-align: center;
  padding: 40px;
}
