// VARIABLES

//COLORS
$black: #000000;
$base-black: #242424;
$light-blue: #97d0fa;
$white: #ffffff;

// Typografi
$body-font-size: 16px;
$body-line-height: 20px;
$heading-font-size: 24px;

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Press+Start+2P&family=Source+Sans+3:ital@1&family=Work+Sans:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

// GLOBAL
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $base-black;
  padding: 0;
  margin: 0;
  color: white;
}

// VIEWS
.login-header {
  background-image: url("../src/media/login-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    align-items: center;
    .login-input {
      margin: 10px;
      height: 30px;
      width: 220px;
      opacity: 0.5;
    }
    .login-btn {
      width: 172px;
      height: 42px;
      background: #97d0fa;
      border-radius: 23px;
      border-style: none;
      margin: 20px;
      font-weight: bold;
      font-size: 20px;
      font-family: "Gothic A1", sans-serif;
    }
  }
}
.label {
  text-align: center;
  font-weight: bold;
}

.home-header {
  background-image: url("../src/media/home-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.programs-header {
  background-image: url("../src/media/programs-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.programs-ex-wrapper {
  background-image: url("../src/media/programs-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
}

.diet-header {
  background-image: url("../src/media/diet-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-header {
  background-image: url("../src/media/about-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  height: 100vh;
}

.technique-header {
  background-image: url("../src/media/technique-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left !important;
}

.locations-header {
  background-image: url("../src/media/gyms-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  height: 80vh;
}
// .card-wrapper {
//   background-color: red;
// }

p {
  font-size: $body-font-size;
  line-height: $body-line-height;
}

h2 {
  font-size: $heading-font-size;
}

.main-button {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}

.videos {
  display: flex;
  justify-content: center;
}

iframe {
  padding: 30px;
}
